.desktop {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .desktop .div {
    background-color: #ffffff;
    overflow: hidden;
    width: 1440px;
    height: 1024px;
    position: relative;
  }
  
  .desktop .overlap {
    position: absolute;
    width: 342px;
    height: 1210px;
    top: -46px;
    left: 0;
    background-color: #f2d25e;
  }
  
  .desktop .frame {
    display: flex;
    flex-direction: column;
    width: 214px;
    align-items: flex-start;
    gap: 24px;
    position: absolute;
    top: 105px;
    left: 28px;
  }
  
  .desktop .text-wrapper {
    position: relative;
    width: 252px;
    margin-top: -1.00px;
    margin-right: -38.00px;
    font-family: "Chauncy Fatty", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 40px;
    letter-spacing: 0;
    line-height: 28px;
  }
  
  .desktop .frame-2 {
    display: flex;
    flex-direction: column;
    width: 264px;
    align-items: flex-start;
    gap: 72px;
    position: absolute;
    top: 214px;
    left: 39px;
  }
  
  .desktop .frame-3 {
    display: flex;
    width: 250px;
    height: 45px;
    align-items: center;
    gap: 18.23px;
    position: relative;
  }
  
  .desktop .ep-menu {
    position: relative;
    width: 41.56px;
    height: 41.56px;
  }
  
  .desktop .text-wrapper-2 {
    position: relative;
    width: 193.21px;
    margin-right: -3.00px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #00000073;
    font-size: 23.3px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .frame-4 {
    display: flex;
    width: 235px;
    height: 42.3px;
    align-items: center;
    gap: 28.26px;
    position: relative;
  }
  
  .desktop .group {
    position: relative;
    width: 29.66px;
    height: 35.2px;
    margin-left: -1.91px;
  }
  
  .desktop .text-wrapper-3 {
    position: relative;
    width: 202.39px;
    margin-right: -21.49px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #777777;
    font-size: 24.4px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .frame-5 {
    display: flex;
    align-items: flex-end;
    gap: 19px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .desktop .ix-product {
    position: relative;
    width: 38px;
    height: 38px;
  }
  
  .desktop .text-wrapper-4 {
    position: relative;
    width: 201.4px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 24.3px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .frame-6 {
    display: flex;
    align-items: flex-start;
    gap: 19.4px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .desktop .material-symbols {
    position: relative;
    width: 35px;
    height: 35px;
  }
  
  .desktop .text-wrapper-5 {
    position: relative;
    width: 201.6px;
    margin-top: -0.84px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #00000073;
    font-size: 24.3px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .frame-7 {
    display: inline-flex;
    align-items: center;
    gap: 10.95px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .desktop .lets-icons-money {
    position: relative;
    width: 39.3px;
    height: 39.3px;
  }
  
  .desktop .text-wrapper-6 {
    position: relative;
    width: 170.74px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #00000073;
    font-size: 20.6px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .div-wrapper {
    display: flex;
    flex-direction: column;
    width: 225px;
    align-items: flex-start;
    position: absolute;
    top: 43px;
    left: 375px;
  }
  
  .desktop .text-wrapper-7 {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .frame-wrapper {
    display: flex;
    flex-direction: column;
    width: 190px;
    align-items: flex-start;
    gap: 44px;
    position: absolute;
    top: 129px;
    left: 375px;
  }
  
  .desktop .frame-8 {
    display: flex;
    width: 179px;
    align-items: center;
    gap: 32px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .desktop .frame-9 {
    display: flex;
    flex-direction: column;
    width: 172px;
    align-items: flex-start;
    gap: 5px;
    position: relative;
  }
  
  .desktop .text-wrapper-8 {
    width: 166px;
    margin-top: -1.00px;
    font-size: 24px;
    position: relative;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .line {
    position: relative;
    width: 151px;
    height: 2px;
    margin-bottom: -1.00px;
  }
  
  .desktop .overlap-group {
    position: absolute;
    width: 1222px;
    height: 758px;
    top: 195px;
    left: 342px;
  }
  
  .desktop .overlap-group-2 {
    position: absolute;
    width: 1222px;
    height: 718px;
    top: 0;
    left: 0;
  }
  
  .desktop .frame-10 {
    display: flex;
    flex-direction: column;
    width: 66px;
    align-items: flex-start;
    gap: 42.35px;
    position: absolute;
    top: 351px;
    left: 964px;
  }
  
  .desktop .frame-11 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.2px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .desktop .lucide-edit {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 66.33px;
  }
  
  .desktop .text-wrapper-9 {
    align-self: stretch;
    font-size: 19.2px;
    text-align: center;
    position: relative;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .vector {
    position: relative;
    width: 47.95px;
    height: 54.34px;
  }
  
  .desktop .text-wrapper-10 {
    position: relative;
    align-self: stretch;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #0000001a;
    font-size: 19.2px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .img {
    position: relative;
    width: 64.73px;
    height: 64.73px;
  }
  
  .desktop .text-wrapper-11 {
    position: relative;
    align-self: stretch;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #0000001a;
    font-size: 19.2px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .frame-12 {
    display: flex;
    width: 1222px;
    align-items: flex-start;
    gap: 28px;
    position: absolute;
    top: 2px;
    left: 0;
  }
  
  .desktop .frame-13 {
    position: relative;
    width: 354px;
  }
  
  .desktop .frame-14 {
    display: flex;
    flex-direction: column;
    width: 413px;
    align-items: flex-start;
    gap: 32px;
    position: relative;
  }
  
  .desktop .frame-15 {
    display: flex;
    flex-direction: column;
    width: 348px;
    align-items: flex-start;
    gap: 12px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .desktop .text-wrapper-12 {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .frame-16 {
    display: inline-flex;
    align-items: center;
    gap: 22px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .desktop .text-wrapper-13 {
    position: relative;
    width: 103px;
    margin-top: -1.00px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #00000078;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .frame-17 {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .desktop .vector-2 {
    position: relative;
    width: 11.25px;
    height: 10.88px;
  }
  
  .desktop .text-wrapper-14 {
    position: relative;
    width: 129px;
    margin-top: -1.00px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #00000078;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .text-wrapper-15 {
    position: relative;
    align-self: stretch;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .group-2 {
    position: relative;
    width: 413px;
    height: 202px;
  }
  
  .desktop .frame-18 {
    display: flex;
    flex-direction: column;
    width: 263px;
    height: 123px;
    align-items: flex-start;
    gap: 14px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .desktop .frame-19 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 13px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .desktop .frame-20 {
    display: inline-flex;
    align-items: center;
    gap: 15px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .desktop .img-2 {
    position: relative;
    width: 24px;
    height: 24px;
  }
  
  .desktop .text-wrapper-16 {
    position: relative;
    width: 183px;
    margin-top: -1.00px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .frame-21 {
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .desktop .text-wrapper-17 {
    position: relative;
    width: 217px;
    margin-top: -1.00px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .frame-22 {
    display: flex;
    flex-direction: column;
    width: 372.93px;
    height: 65px;
    align-items: flex-start;
    gap: 8px;
    position: absolute;
    top: 137px;
    left: 40px;
  }
  
  .desktop .p {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #00000087;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .frame-23 {
    display: flex;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .desktop .text-wrapper-18 {
    position: relative;
    width: 146px;
    height: 27px;
    margin-top: -1.00px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #00000087;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .p-2 {
    position: absolute;
    width: 291px;
    height: 300px;
    top: 0;
    left: 28px;
    object-fit: cover;
  }
  
  .desktop .chonky-sukuna {
    position: absolute;
    width: 96px;
    height: 96px;
    top: 346px;
    left: 28px;
    object-fit: cover;
  }
  
  .desktop .p-3 {
    position: absolute;
    width: 96px;
    height: 96px;
    top: 346px;
    left: 148px;
    object-fit: cover;
  }
  
  .desktop .frame-24 {
    display: flex;
    width: 244px;
    height: 74px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 19px 26px;
    position: absolute;
    top: 549px;
    left: 312px;
    background-color: #f2d25e;
    border-radius: 20px;
  }
  
  .desktop .text-wrapper-19 {
    position: relative;
    width: fit-content;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .text-wrapper-20 {
    position: absolute;
    top: 695px;
    left: 671px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .frame-25 {
    display: flex;
    width: 243px;
    height: 74px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 19px 53px;
    position: absolute;
    top: 684px;
    left: 37px;
    background-color: #f2d25e;
    border-radius: 20px;
  }
  
  .desktop .frame-26 {
    display: flex;
    width: 243px;
    height: 74px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 19px 53px;
    position: absolute;
    top: 549px;
    left: 37px;
    background-color: #f2d25e;
    border-radius: 20px;
  }
  
  .desktop .text-wrapper-21 {
    position: relative;
    width: fit-content;
    margin-left: -26.00px;
    margin-right: -26.00px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .frame-27 {
    display: flex;
    width: 243px;
    height: 74px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 19px 53px;
    position: absolute;
    top: 684px;
    left: 313px;
    background-color: #f2d25e;
    border-radius: 20px;
  }

  .sv{
    
    margin-left: 645px;
    margin-top: 569px;
  }
  .save{
    cursor: pointer;
  }